# Arquivos de ambiente - NUNCA ENVIE PARA O GIT!
.env
.env.*
*.bat
*.py

# Dependências
node_modules/

# Diretório de build do Hugo
# public/
# resources/

# Arquivos de cache e temporários
.cache/
__pycache__/
*.pyc
temp_*.txt

# Logs
*.log
gemini_error.log
gemini_error.py.log
